.card.bg-gradient {
  background: linear-gradient(135deg, #17a2b8, #6610f2);
}

.btn {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.accordion-button:not(.collapsed) {
  background-color: #0d6efd;
  color: #fff;
}
.accordion-button:focus {
  box-shadow: none;
}
